# =========================
# Vending Bot
# =========================

# Discord Bot Token
DISCORD_TOKEN=

# Developer Portal > General Information > Application ID
CLIENT_ID=

# 対象DiscordサーバーのID
GUILD_ID=

# 管理者が注文を見るチャンネルID
RECEIVE_CHANNEL_ID=

# 「受け取り確認」「キャンセル」を操作できるロールID
# Administrator権限を持つ人はロールがなくても操作できます
ADMIN_ROLE_ID=

# 支払い方式
# 今回は手動確認なので manual のまま
PAYMENT_MODE=manual

# 今回はPayPay APIを使わないため空欄でOK
PAYPAY_API_KEY=
PAYPAY_API_SECRET=
PAYPAY_MERCHANT_ID=

# 支払い確認済みデータを実績Botへ渡す注文ログチャンネルID
ORDER_LOG_CHANNEL_ID=
